<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">

			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>

		</layout>
	</appender>

	<timestamp key="byDay" datePattern="yyyy_MM_dd" />

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file> log/log-${byDay}.txt </file>
		<append>true</append>
		<encoder>
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>
	</appender>


	<!--logger name="org.springframework" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger-->
	
	<logger name="org.zabus" level="info" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT"/>
	</logger>
	
	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

</configuration>